{% extends 'buset/base.html' %}
{% block content %}

<div class='uk-container uk-grid-row'>
{% comment %} slideshow {% endcomment %}
<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="autoplay:true; animation: push;">

    <ul class="uk-slideshow-items">
        <li>
            <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left">
                <img src="/static/buset/turning-bricked-phone-into-unbricked.jpg" alt="" uk-cover>
            </div>
        </li>
        <li>
            <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-top-right">
                <img src="/static/buset/computer_repair_technician.jpg" alt="" uk-cover>
            </div>
        </li>

    </ul>

    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

</div>


{% comment %} post {% endcomment %}
<div class='uk-container uk-flex-center uk-grid uk-grid-small uk-grid-width-responsive '>
{% for post in posts %}<a href="/buset/media/{{post.post_image}}">
<div class ="uk-margin-top uk-card uk-card-default uk-card uk-padding-small uk-card-hover uk-card-body ">
    <img class='imageClip img-fluid mh-50' src="/buset/media/{{post.post_image}}">
    <p><h1 class="uk-text-default">{{post.post_title}}</p>
    <p><h2 class="uk-text-small">{% load idr %}{{post.post_price | currency}}</p>
    <span uk-icon="star"></span> 4.7
    </div>
</a>
{% endfor %}
</div>
{% endblock %}
